<style>
body{
  background-color: #5bc0de;
}
</style>

<div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="well panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 text-center">
                            <img src="images/dp.png" alt="" class="center-block img-circle img-thumbnail img-responsive">
                        </div>
                        <!--/col-->
                        <div class="col-xs-12 col-sm-8">
                            <h2><%=username.toUpperCase()%></h2>
                            <p><strong>Email: </strong><%=email%></p>
                            <p><strong>Address: </strong><%=address%> </p>
                            <p><strong>Phone: </strong>
                                <%=phone%>
                            </p>
                        </div>
                        <!--/col-->
                        <div class="clearfix"></div>
                        <div class="col-xs-12 col-sm-4">
                          <h2><strong>1</strong></h2>
                          <p><small>User Available</small></p>
                            <button class="btn btn-success btn-block"><span class="fa fa-user"></span> Edit Profile </button>
                        </div>
                        <!--/col-->
                        <div class="col-xs-12 col-sm-4">
                            <h2><strong>4</strong></h2>
                            <p><small>Rooms Available</small></p>
                            <a class="btn btn-info btn-block" href="/rooms"><span class="fa fa-gear"></span> View Rooms </a>
                        </div>
                        <!--/col-->
                        <div class="col-xs-12 col-sm-4">
                            <h2><strong>10</strong></h2>
                            <p><small>Devices Available</small></p>
                            <button type="button" class="btn btn-primary btn-block"><span class="fa fa-plus-circle"></span> Add Devices </button>
                        </div>
                        <!--/col-->
                    </div>
                    <!--/row-->
                </div>
                <!--/panel-body-->
            </div>
            <!--/panel-->
        </div>
        <!--/col-->
    </div>
    <!--/row-->

